/*-------------------------------------------------------------------
   menu and body  (= css magic ;-)
-------------------------------------------------------------------*/
body { padding: 10pt
       ; margin: 10pt
       ; color: #444
     }


.body { 
        ; font: 100% sans-serif, Helvetica, Arial
      }

h1 { padding: 0pt
     ; margin: 1ex 16% 0ex 16%
   }

h1.top { padding: 0pt
       ; margin: 1ex 20px 0 0
       }

.menu { padding: 1ex 1ex 1ex 1ex
	;box-sizing: border-box;
	; border: solid 1px
	; background-color: #eee
	; font: 110% sans-serif, Helvetica, Arial

      }

.menu a { text-decoration: none
          ; color: #444
	;margin: 15ex 20px 20 20
	;box-sizing: border-box;
        }

.menu a:visited { color: #444 }

.menu a:hover
{ background-color: #FF0000	     
}

/*-------------------------------------------------------------------
   General style
-------------------------------------------------------------------*/
h1 { font: 175% sans-serif, Helvetica, Arial}
h1.top { font: 175% sans-serif, Helvetica, Arial}
h2 { font: 160% sans-serif, Helvetica, Arial}
h3 { font: 140% sans-serif, Helvetica, Arial}
h4 { font: 120% sans-serif, Helvetica, Arial}

h4.top { font: 120% sans-serif, Helvetica, Arial
       ; margin: -1ex 20px 0 0

}

h2 { margin-top: 2ex
                        ; margin-bottom: 0pt
                        }

h1,h2 { border-bottom: solid white 1px }

h1.top,h2.top { border-bottom: solid white 1px }

a:link { color: black }
a:visited { color: #444 }

pre, code,
strong { color: black }

td { vertical-align: top }

img {}



